<svg width="{{window.width}}" height="{{window.height}}">
    {{#each outputs}}
    {{#each leds}}
    {{#unless @first}}
    x2="{{x}}" y2="{{y}}" />
    {{/unless}}
    <circle cx="{{x}}" cy="{{y}}" r="{{r}}" id="c_{{index}}" class="{{../device}}" />
    {{#unless @last}}
    <line id="c_{{index}}l" x1="{{x}}" y1="{{y}}"
    {{/unless}}
    {{/each}}
    {{/each}}
</svg>
<div>
    <button onclick="socket.emit('saveconfig');">Save</button>
</div>