extends ../layouts/default

block content
	.container: .row
		if !data.sketch
			h2 Invalid Sketch.
		else
			.col-sm-12.col-md-12
				.tab-content
					div(id='preview').tab-pane.active.fade
						div(style='position:relative;width:100%;height:0;padding-bottom:56.25%;')
							iframe(style='position:absolute;top:0;left:0;width:100%;height:100%;' frameborder="0" scrolling="no" src="/view-static/"+data.sketch.localDir)
					div(id='details').tab-pane.fade
						.page-header
							a(href='/view-static/'+data.sketch.localDir+'/index.html' id='edit-html').btn.btn-default.pull-right ⌨&emsp;Edit
							a(href='/api/media/' + data.sketch.id + '/play').pull-right
								button(type='submit').display-btn.btn.btn-primary ▶ Display
							- var title = data.sketch.title
							- var date = data.sketch._.modifiedDate.format('D/M/Y')
							h1 <strong>#{title}</strong> <small>#{date}</small>
						.details-heading
							form(action='/api/media/'+data.sketch.id+'/update' method='post' class='post-form-ajax' id='sketch-form').form-horizontal
								fieldset(disabled='disabled')
									input(type='hidden', name='action', value='save')
									.form-group(class=validationErrors.message ? 'has-error' : null)
										label.col-sm-2.control-label Title
										.col-sm-10
											textarea(name='title' id='title-area' rows=1 value='hi' required).form-control= data.sketch.title
									.form-group(class=validationErrors.message ? 'has-error' : null)
										label.col-sm-2.control-label index.html
										.col-sm-10
											textarea(name='code' id='code-area' style='font-family:monospace;' placeholder='HTML sketch...' rows=24 required).form-control= formData.sketch
									.form-group
										.col-sm-10.col-sm-offset-2
											button(type='submit').btn.btn-primary Save
								.channel-heading
							if data.sketch.ipfsHash
								a(href='https://gateway.ipfs.io/ipfs/' + data.sketch.ipfsHash, target='_blank').btn.btn-default.pull-right Gateway
								a(href='/api/media/' + data.sketch.id + '/share', id='btn-share').btn.btn-default.pull-right Update address
							else
								a(href='/api/media/' + data.sketch.id + '/share', id='btn-share').btn.btn-default.pull-right Create address
							h2 Channels
						.list-group
							.list-group-item
								if data.channels && data.channels.length
									ul.nav.nav-pills
										each channel in data.channels
											- var channelActive = data.sketch.channels.some(x => x.key === channel.key);
											li(class=(channelActive ? 'active' : ''))
												a(href='/api/media/'+data.sketch.id+'/channel?_id='+channel._id, class='btn-channel')=channel.name
						.channel-sync
							if data.sketch.ipfsHash
								- var shortHash = data.sketch.ipfsHash.substring(0,24);
								p Address:
									code
										a(href='https://gateway.ipfs.io/ipfs/' + data.sketch.ipfsHash, target='_blank')=shortHash
						hr
						a(href='/api/media/'+data.sketch.id+'/remove', data-toggle='tooltip', data-placement='auto bottom', title='Warning! This cannot be undone.').list-group-item Delete
block js
	script.
		jQuery(function($) {
			// make code editable
			$('#edit-html').click(function(e){
				e.preventDefault();
				$('fieldset').removeAttr('disabled');
			});
			// load HTML into form
			var sketchURL = $('#edit-html').attr('href');
			$.ajax({url: sketchURL, async: true, 
				error: function(){
					var flashMsg = '<div class="alert alert-error">ⓘ&emsp;errorrr</div>'
					$('#flash-messages').prepend(flashMsg);
				},
				success: function(result){
					$('#code-area').val(result);
				}
			});
			// initialise tooltip to appear on Delete button
			$('[data-toggle="tooltip"]').tooltip(); 
			// share button
			function shareButton(e) {
				//
				e.preventDefault();
				var url = $(this).attr('href');
				$.ajax({url: url, async: false,
					error: function(result){
						notifier.alert('Could not share sketch. Is there P2P connection?');
					},
					success: function(result){
						notifier.success('Uploaded to IPFS!');
					}
				});
			}
			$('#btn-share').click( shareButton );
			// channel button
			function channelButton(e) {
				//
				e.preventDefault();
				var url = $(this).attr('href');
				$.ajax({url: url, async: false,
					error: function(result){
						notifier.alert('Could not update sketch channels. Is there P2P connection?');
					},
					success: function(result){
						notifier.success('Updated sketch channel! Pls refresh');
					}
				});
			}
			$('.btn-channel').click( channelButton );
			// change tab according to query string (after page loads otherwise the media iframe doesn't...)
			setTimeout(function(){$('#mediaTabs a[href="' + window.location.hash + '"]').tab('show')}, 3000);
		});