extends ../layouts/default

block content
	.container: .row
		if !data.sketch
			h2 Invalid Sketch.
		else
			.col-sm-4.col-md-4
				iframe(width="750px" height="750px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/view-static/"+data.sketch.localDir).img-responsive
				.panel.panel-default
					.panel-heading
						a(href='/api/sketch/' + data.sketch.id + '/play', target='_blank').pull-right Display
						h3(class='panel-title')=data.sketch.title
					.list-group
						a(href='/api/sketch/' + data.sketch.id + '/sync').list-group-item Share with peers
						.list-group-item
							p Channels:
							if data.channels && data.channels.length
								ul.nav.nav-pills
									each channel in data.channels
										- var channelActive = data.sketch.channels.some(x => x.key === channel.key);
										li(class=(channelActive ? 'active' : ''))
											a(href='?channel=true&_id='+channel._id)=channel.name
						a(href='/api/sketch/' + data.sketch.id + '/play', target='_blank').list-group-item Preview on device
						if data.sketch.ipfsHash
							a(href='/api/sketch/' + data.sketch.id + '/play', target='_blank').list-group-item Preview on gateway
					.panel-footer
						a(href='?delete=true', data-toggle='tooltip', data-placement='auto bottom', title='Warning! This cannot be undone.').list-group-item Delete
			.col-sm-8.col-md-8
				.page-header
					a(href='?screenshot=true' id='make-editable').btn.btn-default.pull-right 📷&emsp;Screenshot
					h1 Saved Images
				if data.thumbnails.length
					.row
						each thumbnail in data.thumbnails
							.col-xs-2
								img(src='/view-static/'+data.sketch.localDir+'/'+thumbnail).img-thumbnail
				else
					h4 No thumbnails
				.page-header
					a(href='/view-static/'+data.sketch.localDir+'/index.html' id='edit-html').btn.btn-default.pull-right ⌨&emsp;Edit
					h1 Source Code
				form(method='post').form-horizontal
					fieldset(disabled='disabled')
						input(type='hidden', name='action', value='save')
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label.col-sm-2.control-label index.html
							.col-sm-10
								textarea(name='code' id='code-area' style='font-family:monospace;' placeholder='HTML sketch...' rows=24 required).form-control= formData.sketch
						.form-group
							.col-sm-10.col-sm-offset-2
								p.help-block Note: others can see your
								button(type='submit').btn.btn-primary Save

				//- article
				//- 	//- p: a(href='/browse') &larr; back to the sketches
				//- 	//- hr
				//- 	if !data.sketch
				//- 		h2 Invalid Sketch.
				//- 	else
				//- 		header
				//- 			h1= data.sketch.title
				//- 			if data.sketch.ipnsHash
				//- 				h2: a(href='?update=ipns') Update IPNS #{data.sketch.ipnsHash}
				//- 			h5 Posted 
				//- 				if data.sketch.publishedDate
				//- 					| on #{data.sketch._.publishedDate.format('MMMM Do, YYYY')} 
				//- 				if data.sketch.channels && data.sketch.channels.length
				//- 					| in 
				//- 					each channel, channel_i in data.sketch.channels
				//- 						a(href='/browse/' + channel.key)= channel.name
				//- 						if channel_i < data.sketch.channels.length - 1
				//- 							| , 
				//- 						else
				//- 							|  
				//- 				if data.sketch.author
				//- 					| by #{data.sketch.author.name.first}
				//- 		.sketch
					//if data.sketch.image.exists
					//	.image-wrap: img(src=data.sketch._.image.fit(750,450)).img-responsive
					//!= data.sketch.content.full
block js
	script.
		jQuery(function($) {
			// make code editable
			$('#edit-html').click(function(e){
				e.preventDefault();
				$('fieldset').removeAttr('disabled');
				//- var sketchURL = $(this).attr('href');
				//- $.ajax({url: sketchURL, async: true, 
				//- 	error: function(){
				//- 		var flashMsg = '<div class="alert alert-error">ⓘ&emsp;errorrr</div>'
				//- 		$('#flash-messages').prepend(flashMsg);
				//- 	},
				//- 	success: function(result){
				//- 		$('#code-area').val(result);
				//- 	}
				//- });
			});
			// load HTML into form
			var sketchURL = $('#edit-html').attr('href');
			$.ajax({url: sketchURL, async: true, 
				error: function(){
					var flashMsg = '<div class="alert alert-error">ⓘ&emsp;errorrr</div>'
					$('#flash-messages').prepend(flashMsg);
				},
				success: function(result){
					$('#code-area').val(result);
				}
			});
			// initialise tooltip to appear on Delete button
			$('[data-toggle="tooltip"]').tooltip(); 
		});