<div class="item">
    <img src="{{{img_src}}}" />
    <h1>{{demo.id}}</h1>
    <p>{{demo.description}}</p>
    <button onclick="socket.emit('play', '{{directory}}')">Play</button>
    {{#each files}}
        <div>
            <h4>{{this.name}}</h4>
            <textarea id="{{../demo.id}}_{{@index}}">{{{this.text}}}</textarea>
            <button onclick="buttonClicked('{{../demo.id}}', '{{@index}}', '{{this.name}}')">Sync</button>
        </div>
    {{/each}}
</div>