<div class="item">
    <img src="{{{image}}}" />
    <h1>{{title}}</h1>
    <p><i>saved in {{directory}}</i></p>
    <p>{{description}}</p>
    <p>Connected to:</p>
    <ul>
        {{#each channels}}
        <li>{{this.channel_name}}</li>
        {{/each}}
    </ul>
    <button onclick="socket.emit('play', '{{directory}}')">Play</button>
    {{#each files}}
    <div>
        <h4>{{this.filename}}</h4>
        <textarea id="{{../title}}_{{this.id}}">{{{this.data}}}</textarea>
        <button onclick="updateFile('{{../title}}', '{{this.id}}')">Sync</button>
    </div>
    {{/each}}
</div>