<div class="item">
    <p>{{demo.id}}</p>
    <p>{{demo.description}}</p>
    <img src="{{{img_src}}}" />
    {{#each files}}
        <button onclick="buttonClicked('{{../demo.id}}', '{{@index}}')">Sync</button>
        <h4>{{this.name}}</h4>
        <textarea class="{{../demo.id}} {{@index}}">{{{this.text}}}</textarea>
    {{/each}}
</div>