<div class="item">
    <p>{{demo.id}}</p>
    <p>{{demo.description}}</p>
    <img src="{{{img_src}}}" />
    {{#each files}}
        {{#each this}}
            <h4>{{@key}}</h4>
            <textarea>{{{this}}}</textarea>
        {{/each}}
    {{/each}}
</div>