<div class="item">
    <img src="{{{image}}}" />
    <h1>{{title}}</h1>
    <p><i>saved in {{directory}}</i></p>
    <p>{{description}}</p>
    <button onclick="socket.emit('play', '{{directory}}')">Play</button>
    <button onclick="showEditor('{{directory}}');">Edit</button>
</div>