<div class="item" data-directory="{{directory}}">
    <img src="{{{image}}}" />
    <p><b>{{title}}</b></p>
    {{!-- <p>{{description}}</p> --}}
    <div class="itemBtnDiv">
        <button class="playDiskButton">Play</button>
        <button class="editDiskButton">Edit</button>
    </div>
    {{!-- <input class="blurAmount" type="range" min="1" max="48" value="{{blur_amt}}"> --}}
</div>