<div data-disk-directory="{{directory}}">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <input type="text" id="editorChannelsInput" placeholder="Channels...">
    <span id="newChannelButton">Create new channel</span>
    <ul id="editorChannelList">
        {{#each connectedChannels}}
        <li><a class="editorConnectedChannelItem">{{this.name}}</a> ✔</li>
        {{/each}}
        {{#each unconnectedChannels}}
        <li><a class="editorDisconnectedChannelItem">{{this.name}}</a></li>
        {{/each}}
    </ul>
    {{#each files}}
    <div data-row-id="{{this.id}}">
        <h4>{{this.filename}}</h4>
        <textarea>{{{this.data}}}</textarea>
        <button class="editorUpdateFileButton">Sync</button>
    </div>
    {{/each}}
    <button id="editorSaveButton">Save</button>
    <button id="editorCloseButton">Close</button>
    {{#if dat_key}}
    <ul>
        {{#iterate dat_versions}}
        <li><button class="editorVersionButton" data-id="{{this}}">Play v{{this}}</button></li>
        {{/iterate}}
    </ul>
    <p>dat://{{dat_key}}</p>
    {{/if}}
</div>