<div class="item item-wide" {{#if channel_name}}data-channel="{{channel_name}}" {{/if}}>
    <span>
        <h1>
            {{#if channel_name}}
            <a href="/?page=channel&channel={{channel_name}}">{{channel_name}} (<u>{{count}}</u>)</a>
            {{else}}
            All media ({{count}})
            {{/if}}
        </h1>
    </span>
    <span>
        <span>Sort:</span>
        <span>
            <select name="sort">
                <option value="new" {{#if new}}selected{{/if}}>New</option>
                <option value="top" {{#if top}}selected{{/if}}>Top</option>
            </select>
        </span>
        <button class="autoplayButton">Play</button>
        {{#if create}}
        <button class="newDiskButton">New</button>
        {{/if}}
    </span>
</div>