<div id="outputForm">
    <div class="window">
        <h3>Output configuration</h3>
        <label for="windowWidth">Width:</label>
        <input type="number" id="windowWidth" rows="1" class="width" value="{{window.width}}">
        <label for="windowHeight">Height:</label>
        <input type="number" id="windowHeight" rows="1" class="height" value="{{window.height}}">
    </div>
    <div class="outputs">
        {{#each outputs}}
        <div data-output-id="{{index}}">
            {{!-- <label for="o_device{{@index}}">Device:</label>
            <textarea id="o_device{{@index}}" rows="1" class="device">{{device}}</textarea> --}}
            {{!-- <label>{{device}}</label> --}}
            <div class="properties">
                <h4>Chain {{index}}:</h4>
                <label for="o_port{{@index}}">Port:</label>
                <textarea id="o_port{{@index}}" rows="1" class="port">{{properties.port}}</textarea>
                <label for="o_type{{@index}}">Type:</label>
                <textarea id="o_type{{@index}}" rows="1" class="type">{{properties.type}}</textarea>
                <label for="o_color{{@index}}">Colour Order:</label>
                <textarea id="o_color{{@index}}" rows="1" class="colorOrder">{{properties.colorOrder}}</textarea>
                <label for="o_rate{{@index}}">Baud Rate:</label>
                <input type="number" id="o_rate{{@index}}" rows="1" class="rate" value="{{properties.rate}}">
            </div>
        </div>
        {{/each}}
    </div>
    <h3>Actions</h3>
    <button id="saveOutputButton">Save</button>
    <button id="updateOutputButton">Update Output</button>
    <button id="resetOutputButton">Reset</button>
    <button id="takeScreenshotButton">Screenshot</button>
    <button id="restartBackendButton">Restart backend</button>
    <button id="restartRendererButton">Restart renderer</button>
    <button id="getLogsButton">Get logs</button>
    <button id="shutdownButton">Shutdown</button>
    <button id="rebootButton">Reboot</button>
    <button class="autoplayButton">Autoplay all</button>
    <h3>Controls</h3>
    <label>Brightness
        <input id="brightnessInput" type="range" min="0" max="255" step="1" value="{{settings.brightness}}">
    </label>
    <label>Blur amount
        <input class="blurAmount" type="range" min="1" max="48" step="1" value="{{settings.blur}}">
    </label>
    <label>Minimum autoplay time (15 - 300s):
        <input id="autoplayMinRange" type="range" min="15000" max="300000" step="1000" value="{{settings.autoplayDuration.min}}">
    </label>
    <label>Maximum autoplay time (15 - 300s):
        <input id="autoplayMaxRange" type="range" min="15000" max="300000" step="1000" value="{{settings.autoplayDuration.max}}">
    </label>
    <label>Crossfade time (0 - 25,000ms):
        <input id="crossfadeRange" type="range" min="0" max="25000" step="100" value="{{settings.fadeDuration}}">
    </label>
    <label>Desaturation
        <input class="desaturationInput" type="range" min="0" max="255" step="1" value="{{settings.desaturation}}">
    </label>
</div>